referencias/
img/
.venv/
.pytest_cache/
.pycache/
__pycache__/
*.pyc
test/

# Archivos compilados C y binarios inter-proceso
c_impl/obj/
c_impl/bin/
*.bin
zernike_temp.bin

# Archivos temporales de compilación y distibución de PyInstaller
dist/
build/
build_app/
output/
*.txt
*.pth
!zernike_gui.spec